@import "reset";
@import "var";

@mixin shadow($opa) {
  box-shadow: rgba(100, 100, 111, $opa) 0px 7px 29px 0px;
}

%border {
  border: 1px solid black;
}

@mixin text-size($size) {
  @if $size == big {
    font-size: 1.8rem;
  } @else if $size == medium {
    font-size: 1.15rem;
  } @else {
    font-size: 1rem;
  }
}

body {
  background-color: #f9f5eb;
  line-height: 1.65rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    h1 {
      @include text-size(big);
      font-weight: bold;
    }

    header {
      background-color: darken($darkcolor, 5%);
      margin-bottom: 2rem;
      padding: 1rem;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        cursor: pointer;
      }
    }

    .menu-open {
      display: block;
    }

    nav {
      display: none;
      background-color: rgba(0, 0, 0, 0.3);
      @extend %border;
      backdrop-filter: blur(5px);
      position: fixed;
      width: 35%;
      height: 100vh;

      .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1rem;

        i {
          color: white;
          margin-left: 1rem;
          cursor: pointer;
        }

        ul {
          width: 100%;
          // @include border(green);
          text-align: center;

          a {
            text-decoration: none;
            display: inline-block;

            width: 98.7%;
            padding: 2rem 0;
            margin: 1rem 0;
            font-size: 2rem;
            color: white;

            &:hover {
              background-color: black;
            }
          }
        }
      }
    }

    main {
      max-width: 1080px;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 4rem 0;
      align-items: center;
      background-color: lighten($lightcolor, 50%);
      border-radius: 1rem;
      @include shadow(0.8);

      .post-container {
        padding: 2rem 1rem;
        margin: 1rem 0;
        width: 70%;
        background-color: white;
        border-radius: 0.4rem;
        @include shadow(0.4);
        @include text-size(medium);
        // @extend %border;
        h1 {
          margin-bottom: 1rem;
        }

        img {
          max-width: 100%;
          height: auto;
          border-radius: 0.8rem;
          margin-bottom: 2rem;
        }
      }
    }

    footer {
      background-color: darken($darkcolor, 5%);
      margin-top: 1rem;
      padding: 2rem 0;
      text-align: center;
      color: white;
      @include text-size(small);
    }
  }
}

@media (max-width: 768px) {
  /* Styles for tablets and smaller screens (including mobile) */
  nav {
    width: 100% !important;
  }
}
